* {
  list-style: none;
}

/* ===== Base styles ===== */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

h1, h2, h3, h4, h5, h6,
p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}


.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===== Header ===== */
.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-logo{
  margin-right: 76px;
  padding: 24px 0;
}
.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

/* Navigation */
.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}


.nav-link {
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Contacts */
.contacts {
  font-style: normal;
  text-decoration: none;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  align-items: center;
  gap: 40px
}

.contacts-link {
  color: #434455;
  text-decoration: none;
  padding: 24px 0;
  display: block;

}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}



/* ===== Hero section ===== */
.hero {
  background-color: #2e2f42;
  display: block;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  padding-top: 188px;
  padding-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

/* Button */
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  max-width: 169px;
  max-height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin: 48px auto 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===== Features ===== */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-container {
  display: block;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-main-title{
  text-align: center;
}

.features-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
  width: calc(100% -72px)/4;
}

.features-element {
  box-sizing: border-box;
}

.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  color: #2E2F42;
}

.features-text {
  color: #434455;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* ===== Team ===== */
.team {
  background-color: #f4f4fd;
}

.team-container {
  display: block;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-list {
  display: flex;
  box-sizing: border-box;
  gap: 24px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.team-card {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  border-radius: 0 0 4px 4px;
}

.team-card-container {
  padding: 32px 16px;
}

.team-image {
  width: 264px;
  height: 260px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-top: 8px;
  margin-left: auto;
  margin-right: auto;
}

/* ===== Portfolio ===== */
.portfolio-container {
  display: block;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;

}

.portfolio-card {
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-top: 32px;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin-top: 8px;
  margin-bottom: 32px;
}

.portfolio-name, .portfolio-type {
  text-align: left;
  margin-left: 16px;
  margin-right: 16px;
}

/* ===== Footer ===== */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: block;
  flex-direction: column;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
  max-width: 264px;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
  display: inline-block;
}
