* {
  list-style: none;
}

/* ===== Base styles ===== */
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}



.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ===== Header ===== */
.header-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #2e2f42;
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

/* Logo */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  text-decoration: none;
}

.logo-web {
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

/* Navigation */
.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Contacts */
.contacts {
  font-style: normal;
  text-decoration: none;
}

.contacts-link {
  color: #434455;
  text-decoration: none;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* ===== Hero section ===== */
.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

/* Button */
.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;

  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===== Features ===== */
.features-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.features-text {
  color: #434455;
  letter-spacing: 0.02em;
}

/* ===== Team ===== */
.team {
  background-color: #f4f4fd;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-card {
  background-color: #ffffff;

}

.team-image {
  display: block;
  width: 264px;
  height: 260px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-role {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* ===== Portfolio ===== */
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

.portfolio-image {
  width: 360px;
  height: 300px;
  object-fit: cover;
}

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.portfolio-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455
}

/* ===== Footer ===== */
.footer {
  background-color: #2e2f42;
}

.footer-studio {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}

.footer-logo {
  color: #f4f4fd;
  text-decoration: none;
}
